@media screen and (max-width: 1199px){
	body{
		min-width: 768px;
	}
	.b-block{
		width: calc(100% - 48px);
	}

}
@media screen and (max-width: 949px){
	.about-right{
	    padding-top: 60px;
	    width: 100%;
	    left: -24px;
	    margin-left: -49px;
	}
	.about-left{
		width: 100%;
		padding-bottom: 60px;
	}
	.b-service-item{
	    width: calc(100%/2 - 48px);
	}
	.b-service-item:not(:last-child){
		margin-bottom: 24px;
	}
	.input-top .input-string{
		width: 100%;
	}
	.input-top .input-string:not(:first-child){
		margin-left:0;
		margin-top: 16px;
	}
}
