@media screen and (max-width: 768px){
	body{
		min-width: 300px;
	}
	.header-main-block{
		height: calc(100vh - 150px);
	}
}
@media screen and (max-width: 700px){
	.logo{
	    width: 129px;
    	height: 57px;
	}
	.menu ul{
		margin-top: 20px;
	}
	.menu-left-block{
		margin-top: 8px;
	}
	h1{
	    font-size: 32px;
		line-height: 36px;
	}
	h2{
	    font-size: 32px;
		line-height: 36px;
	}
	h3{
	    font-size: 24px;
		line-height: 28px;
	}
	.b-btn{
		font-size: 16px;
		padding: 14px 26px;
	}
	.services .tabs{
		max-width: 240px;
		margin-top: 20px;
	}
	.services .tab{
		margin-bottom: 15px;
		font-size: 20px;
	}
	.tab-link{
		float: none;
		max-width: 100%;
	}
	.services-top-block{
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 650px){
	.menu ul{
		display: none;
	}
	.b-btn{
		width: 250px;
	}
	.b-popup{
		padding: 30px 30px 40px 30px;
		width: calc(100% - 20px);
	}
	.b-thanks.b-popup{
	    padding: 30px 20px 0px 20px;
	}
	input, textarea{
	    padding: 14px 20px;
    	font-size: 16px;
    	margin-bottom: 20px;
	}
	.checkbox-block{
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 350px){
	.menu-left-block a{
		font-size: 14px;
	}
	h1{
		font-size: 26px;
		line-height: 30px;
	}
	h2{
		font-size: 26px;
		line-height: 30px;
	}
	h3{
		font-size: 18px;
		line-height: 24px;
	}
	h4{
	    font-size: 16px;
    	line-height: 24px;
	}
	.about{
		padding-top: 80px;
		padding-bottom: 60px;
	}
	.about-inner-item:nth-child(1) a:before{
		width: 61px;
	}
	.about-inner-item:nth-child(2) a:before{
		width: 60px;
		left: -101px;
	}
	.about-inner-item:nth-child(3) a:before{
		width: 60px;
		left: -100px;
	}
	.services h4{
		margin-top: 40px;
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 24px;
	}
	table{
		width: calc(100% + 48px);
		margin:0 -24px;
	}
	.b-popup{
		padding: 30px 20px 30px 20px;
	}
}
@media screen and (max-width: 320px){
	.logo{
		width: 119px;
		height: 52px;
	}
}